{% extends 'control/base.html' %}
{% load i18n %}

{% block heading %}{% trans 'Access Permission QR Code' %}{% endblock %}

{% block addattributes %} style="text-align: center;"{% endblock %}
{% block menu %}{% endblock %}

{% block subcontent %}
    <p>
        {% trans 'Scan this QR code to get access permissions:' %}
    </p>
    <p>
        <img src="{{ url_qr }}">
    </p>
    <p>
        <a href="{{ url }}">{{ url_absolute }}</a>
    </p>
    <p>
        <em>{% trans 'Please wait. You will be redirected back when the token is redeemed.' %}</em>
    </p>
    <form method="post">
        {% csrf_token %}
        <p>
            <button type="submit" name="revoke" value="1">{% trans 'Revoke Token' %}</button>
        </p>
    </form>
    <script type="text/javascript">
        window.setTimeout(function() { window.location.reload(); }, 3000);
    </script>
{% endblock %}
