{% extends 'site/base.html' %}
{% load i18n %}

{% block title %}{% trans 'c3nav control panel' %}{% endblock %}
{% block header_title %}{% trans 'c3nav control panel' %}{% endblock %}
{% block header_title_url %}{% url 'control.index' %}{% endblock %}

{% block content %}
<main>
    <h2>{% block heading %}{% endblock %}</h2>
    <nav>
        <p>
            <a href="{% url 'control.index' %}">{% trans 'Overview' %}</a> &middot;
            <a href="{% url 'control.users' %}">{% trans 'Users' %}</a>
        </p>
    </nav>
    {% block subcontent %}
    {% endblock %}
</main>
{% endblock %}
