{% extends 'control/base.html' %}
{% load static %}
{% block content %}
<div id="mapeditor"></div>
{% endblock %}

{% block addbottom %}
<script type="text/javascript">
// Init Map
var map = L.map('mapeditor', {
    center: [120, 200],
    zoom: 2,
    maxBounds: {{ bounds }},
    maxZoom: 10,
    minZoom: 1,
    crs: L.CRS.Simple,
    editable: true,
    closePopupOnClick: false,
});

// Add Source Layers
{% for pkg in packages %}
L.control.layers([], {
    {% for source in pkg.sources.all %}
    "{{ source.name }}": L.imageOverlay('{% url 'map.source' source=source.name %}', {{ source.jsbounds }}),{% endfor %}
}).addTo(map);
{% endfor %}

// Add Layer Control
L.LevelControl = L.Control.extend({
    options: {
        position: 'bottomright'
    },
    onAdd: function (map) {
        var container = L.DomUtil.create('div', 'leaflet-control leaflet-bar leaflet-levels'), link;
        {% for level in levels reversed %}
        link = L.DomUtil.create('a', '{% if current_level == level %}current{% endif %}', container);
        link.href = '{% url "control.editor" level=level.name %}';
        link.innerHTML = '{{ level.name }}';
        {% endfor %}
        return container;
    }
});
map.addControl(new L.LevelControl());

// Default styles:
feature_types = {
    building: {
        type: 'polygon',
        color: '#000000',
    },
    room: {
        type: 'polygon',
        color: '#CCCCCC',
    },
    obstacle: {
        type: 'polygon',
        color: '#999999',
    },
    door: {
        type: 'polygon',
        color: '#FF00FF',
    },
    step: {
        type: 'polyline',
        color: '#FF0000',
    },
    elevator: {
        type: 'polygon',
        color: '#99CC00',
    },
}

// Add drawing new features
currently_drawing = null;
currently_adding = null;
function add_edit_button(map, container, type, icon, callback) {
    $('<a href="#">').appendTo(container).text(icon).attr({
        href: '#',
        title: 'add '+name,
        name: type
    }).on('click', function(e) {
        e.preventDefault();

        // If we are currently adding a feature, don't start drawing another.
        if (currently_adding !== null) {
            return;
        }

        // If we are currently drawing a feature, don't start drawing another.
        if (currently_drawing !== null) {
            // If it is a feature of the same type, cancel it.
            if (currently_drawing === type) {
                $('.leaflet-editbar .current').removeClass('current');
                currently_drawing = null;
                map.editTools.stopDrawing();
            }
            return;
        }

        currently_drawing = type;
        console.log(type);
        $('.leaflet-editbar .current').removeClass('current');
        $('.leaflet-editbar [name='+type+']').addClass('current');
        options = feature_types[type];
        if (options.type == 'polygon') {
            map.editTools.startPolygon(null, options);
        } else if (options.type == 'polyline') {
            map.editTools.startPolyline(null, options);
        }
    });

}
L.DrawControl = L.Control.extend({
    options: {
        position: 'topleft'
    },
    onAdd: function (map) {
        var container = L.DomUtil.create('div', 'leaflet-control leaflet-bar leaflet-editbar');
        add_edit_button(map, container, 'building', '🏠');
        add_edit_button(map, container, 'room', '⬠');
        add_edit_button(map, container, 'obstacle', '⬟');
        add_edit_button(map, container, 'door', '🚪');
        add_edit_button(map, container, 'step', '┌┘');
        add_edit_button(map, container, 'elevator', '▴▾');
        return container;
    }
});
map.addControl(new L.DrawControl());
map.on('editable:drawing:commit', function (e) {
    currently_drawing = null;
    currently_adding = e.layer;
    $('.leaflet-editbar .current').removeClass('current');
    e.layer.disableEdit();
    L.popup({
        closeButton: false,
        autoClose: false,
    }).setContent('<img src="{% static "img/loader.gif" %}">').setLatLng(e.layer.getCenter()).openOn(map);
    console.log(e.layer.toGeoJSON());
}).on('editable:drawing:cancel', function (e) {
    if (currently_drawing === null && currently_adding === null) {
        e.layer.remove();
    }
});

L.control.scale({imperial: false}).addTo(map);

</script>
{% endblock %}
