{% extends 'control/base.html' %}
{% block content %}
<h1>Editor</h1>
<div id="mapeditor"></div>
{% endblock %}

{% block addbottom %}
<script type="text/javascript">
var map = L.map('mapeditor', {
    center: [120, 200],
    zoom: 2,
    maxBounds: [[0, 0], [{{ map.height }}, {{ map.width }}]],
    maxZoom: 10,
    minZoom: 1,
    crs: L.CRS.Simple,
});

{% for pkg in map.pkgs.values %}
L.control.layers([], {
    {% for source in pkg.sources %}
    "{{ source.name }}": L.imageOverlay('{% url 'map.source' filename=source.filename %}', {{ source.jsbounds }}),{% endfor %}
}).addTo(map);
{% endfor %}
L.control.scale({imperial: false}).addTo(map);

</script>
{% endblock %}
