{% extends 'control/base.html' %}
{% load i18n %}

{% block heading %}{% trans 'Mesh messages' %}{% endblock %}

{% block subcontent %}
    <form>
        <div class="fields">
            <div class="field">
                {{ form.message_types }}
            </div>
            <div class="field">
                {{ form.src_nodes }}
            </div>
            <div class="field">
                <button type="submit">Filter</button>
            </div>
        </div>
    </form>

    {% include 'control/fragment_pagination.html' %}

    <table>
        <tr>
            <th>{% trans 'Time' %}</th>
            <th>{% trans 'Node' %}</th>
            <th>{% trans 'Type' %}</th>
            <th>{% trans 'Data' %}</th>
            <th>{% trans 'Uplink' %}</th>
        </tr>
        {% for msg in mesh_messages %}
            <tr>
                <td>{{ msg.datetime }}</td>
                <td><a href="{% url "control.mesh_node.detail" pk=msg.src_node.address %}">{{ msg.src_node }}</a></td>
                <td>{{ msg.get_message_type_display }}</td>
                <td>
                    {% if msg.get_message_type_display == "CONFIG_FIRMWARE" %}
                        <strong>Chip:</strong> {{ msg.parsed.get_chip_display }} rev{{ msg.parsed.revision_major }}.{{ msg.parsed.revision_minor }}
                        <br>
                        <strong>Firmware:</strong> {{ msg.parsed.project_name }} {{ msg.parsed.version }} (IDF {{ msg.parsed.idf_version }})
                        <br>
                        <strong>Compile Date:</strong> {{ msg.parsed.compile_date }} {{ msg.parsed.compile_time }}
                        <br>
                        <strong>SHA256:</strong> <small>{{ msg.parsed.app_elf_sha256 }}</small>

                    {% elif msg.get_message_type_display == "CONFIG_UPLINK" %}
                        <strong>Enabled:</strong> {{ msg.parsed.enabled }},
                        <strong>SSID:</strong> {{ msg.parsed.ssid }},
                        <strong>Channel:</strong> {{ msg.parsed.channel }}<br>
                        <strong>Host:</strong> {{ msg.parsed.host }},
                        <strong>Port:</strong> {{ msg.parsed.port }},
                        <strong>UDP:</strong> {{ msg.parsed.udp }},
                        <strong>SSL:</strong> {{ msg.parsed.ssl }}

                    {% elif msg.get_message_type_display == "CONFIG_LED" %}
                        <strong>LED config:</strong> {{ msg.parsed.led_config }}

                    {% elif msg.get_message_type_display == "CONFIG_POSITION" %}
                        <strong>X=</strong>{{ msg.parsed.x_pos }}, <strong>Y=</strong>{{ msg.parsed.y_pos }}, <strong>Z=</strong>{{ msg.parsed.z_pos }}

                    {% elif msg.get_message_type_display == "MESH_ADD_DESTINATIONS" or msg.get_message_type_display == "MESH_REMOVE_DESTINATIONS" %}
                        <strong>mac adresses:</strong><br>
                        <ul style="margin: 0;">
                            {% for address in msg.parsed.mac_addresses %}
                                <li style="margin: 0;">{{ address }}</li>
                            {% endfor %}
                        </ul>

                    {% else %}
                        {% for key, value in msg.data.items %}
                            {% if key != "src" and key != "dst" and key != "msg_id" %}
                            <div class="mesh-msg-data mesh-msg-type-{{ key }}">
                                <strong>{{ key }}</strong>: {{ value }}
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
                <td><a href="{% url "control.mesh_node.detail" pk=msg.uplink_node.address %}">{{ msg.uplink_node }}</a></td>
            </tr>
        {% endfor %}
    </table>

    {% include 'control/fragment_pagination.html' %}
{% endblock %}
