{% extends 'control/base.html' %}
{% load i18n %}

{% block heading %}{% trans 'Mesh' %}{% endblock %}

{% block subcontent %}
    <table>
        <tr>
            <th>{% trans 'Node' %}</th>
            <th>{% trans 'Chip' %}</th>
            <th>{% trans 'Firmware' %}</th>
            <th>{% trans 'Last msg' %}</th>
            <th>{% trans 'Last signin' %}</th>
            <th>{% trans 'Uplink' %}</th>
        </tr>
        {% for node in nodes %}
            <tr>
                <td>{{ node }}</td>
                <td>
                    {{ node.last_messages.CONFIG_FIRMWARE.parsed.get_chip_display }}
                    rev{{ node.last_messages.CONFIG_FIRMWARE.parsed.revision|join:"." }}
                </td>
                <td>
                    {{ node.last_messages.CONFIG_FIRMWARE.parsed.version }}
                    (IDF {{ node.last_messages.CONFIG_FIRMWARE.parsed.idf_version }})
                </td>
                <td>
                    {% blocktrans trimmed with timesince=node.last_msg|timesince %}
                        {{ timesince }} ago
                    {% endblocktrans %}
                </td>
                <td>
                    {% blocktrans trimmed with timesince=node.last_signin|timesince %}
                        {{ timesince }} ago
                    {% endblocktrans %}
                </td>
                <td>{{ node.uplink }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
