{% extends 'control/base.html' %}
{% load i18n %}

{% block heading %}{% trans 'Mesh Firmwares' %}{% endblock %}

{% block subcontent %}
    <h4>Firmwares</h4>
    <a class="button" href="{% url "control.mesh.firmwares.current" %}">
        {% trans 'View current firmwares' %}
    </a>

    {% include 'control/fragment_pagination.html' %}

    <table>
        <tr>
            <th>{% trans 'Created' %}</th>
            <th>{% trans 'Uploader' %}</th>
            <th>{% trans 'Firmware' %}</th>
            <th>{% trans 'IDF version' %}</th>
            <th>{% trans 'Builds' %}</th>
        </tr>
        {% for firmware in firmwares %}
            <tr>
                <td>{{ firmware.created }}</td>
                <td>{{ firmware.uploader }}</td>
                <td>{{ firmware.project_name }} {{ firmware.version }}</td>
                <td>{{ firmware.idf_version }}</td>
                <td>
                    {% for build in firmware.builds.all %}
                        {{ build.variant }} ({{ build.get_chip_display }})<br>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}

    </table>

    {% include 'control/fragment_pagination.html' %}
{% endblock %}
