{% extends 'control/base.html' %}
{% load i18n %}

{% block heading %}{% trans 'Mesh Node' %} {{ node }}{% endblock %}

{% block subcontent %}
    <div class="columns">
        <div>
            <h4>General</h4>
            <p>
                <strong>Address:</strong> {{ node.address }}<br>
                <strong>Name:</strong> {% if node.name %}{{ node.name }}{% else %}<em>{% trans '(no name)' %}</em>{% endif %}
            </p>
            <p>
                <strong>Uplink:</strong> <a href="{% url "control.mesh.node.detail" pk=node.uplink.address %}">{{ node.uplink }}</a><br>

                <strong>Last signin:</strong>
                {{ node.last_signin.date }} {{ node.last_signin.time|date:"H:i:s" }}
                ({% blocktrans trimmed with timesince=node.last_signin|timesince %}
                    {{ timesince }} ago
                {% endblocktrans %})
                <br>

                <strong>Last Message:</strong>
                {{ node.last_msg.date }} {{ node.last_msg.time|date:"H:i:s" }}
                ({% blocktrans trimmed with timesince=node.last_msg|timesince %}
                    {{ timesince }} ago
                {% endblocktrans %})
                <br>
            </p>
            <p>
                <a class="button" href="{% url "control.mesh.node.edit" pk=node.pk %}">
                    {% trans 'Edit' %}
                </a>
                <a class="button" href="{% url "control.mesh.messages" %}?src_nodes={{ node.address }}">
                    {% trans 'View messages' %}
                </a>
                <a class="button" href="{% url "control.mesh.send" msg_type="MESH_ROUTE_REQUEST" %}?address={{ node.address }}" >
                    {% trans 'Find route' %}
                </a>
            </p>

            <h4>Hardware</h4>
            <p>
                <strong>Chip:</strong> {{ node.last_messages.CONFIG_HARDWARE.parsed.get_chip_display }}
                rev{{ node.last_messages.CONFIG_HARDWARE.parsed.revision_major }}.{{ node.last_messages.CONFIG_HARDWARE.parsed.revision_minor }}
            </p>
            <h4>Firmware</h4>
            <p>
                <strong>Firmware:</strong> {{ node.last_messages.CONFIG_FIRMWARE.parsed.app_desc.project_name }} {{ node.last_messages.CONFIG_FIRMWARE.parsed.version }} (IDF {{ node.last_messages.CONFIG_FIRMWARE.parsed.app_desc.idf_version }})
                <br>
                <strong>Compile Date:</strong> {{ node.last_messages.CONFIG_FIRMWARE.parsed.app_desc.compile_date }} {{ node.last_messages.CONFIG_FIRMWARE.parsed.app_desc.compile_time }}
                <br>
                <strong>SHA256:</strong> <small>{{ node.last_messages.CONFIG_FIRMWARE.parsed.app_desc.app_elf_sha256 }}</small>
            </p>
        </div>
        <div>
            <h4>Uplink</h4>
            <p>
                <strong>Enabled:</strong> {{ node.last_messages.CONFIG_UPLINK.parsed.enabled }},
                <strong>SSID:</strong> {{ node.last_messages.CONFIG_UPLINK.parsed.ssid }},
                <strong>Channel:</strong> {{ node.last_messages.CONFIG_UPLINK.parsed.channel }}<br>
                <strong>Host:</strong> {{ node.last_messages.CONFIG_UPLINK.parsed.host }},
                <strong>Port:</strong> {{ node.last_messages.CONFIG_UPLINK.parsed.port }},
                <strong>UDP:</strong> {{ node.last_messages.CONFIG_UPLINK.parsed.udp }},
                <strong>SSL:</strong> {{ node.last_messages.CONFIG_UPLINK.parsed.ssl }}<br>
            </p>
            <p>
                <a class="button" href="{% url "control.mesh.send" recipient=node.address msg_type="CONFIG_UPLINK" %}">
                    {% trans 'Change' %}
                </a>
            </p>

            <h4>Position</h4>
            <p>
                <strong>X=</strong>{{ node.last_messages.CONFIG_POSITION.parsed.x_pos }}, <strong>Y=</strong>{{ node.last_messages.CONFIG_POSITION.parsed.y_pos }}, <strong>Z=</strong>{{ node.last_messages.CONFIG_POSITION.parsed.z_pos }}
            </p>
            <p>
                <a class="button" href="{% url "control.mesh.send" recipient=node.address msg_type="CONFIG_POSITION" %}">
                    {% trans 'Change' %}
                </a>
            </p>

            <h4>LED config</h4>
            <p>
                {{ node.last_messages.CONFIG_LED.parsed.led_config }}
            </p>
            <p>
                <a class="button" href="{% url "control.mesh.send" recipient=node.address msg_type="CONFIG_LED" %}">
                    {% trans 'Change' %}
                </a>
            </p>
        </div>
    </div>
{% endblock %}
