{% extends 'control/base.html' %}
{% load i18n %}

{% block heading %}{% trans 'Mesh' %}{% endblock %}

{% block subcontent %}
    <div class="columns">
        <div>
            <h4>View messages</h4>
            <a class="button" href="{% url "control.mesh.messages" %}">
                {% trans 'View received messages' %}
            </a>
        </div>
        <div>
            <h4>Send messages</h4>
            <form method="POST">
                {% csrf_token %}
                <select name="send_msg_type" style="display: inline-block; width: auto;" required>
                    <option value="">select type</option>
                    {% for msg_type in send_msg_types %}
                        <option value="{{ msg_type.name }}">{{ msg_type.pretty_name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">{% trans 'Send message' %}</button>
            </form>
        </div>
        <div>
            <h4>Logs</h4>
            <a class="button" href="{% url "control.mesh.log" %}">
                {% trans 'View log' %}
            </a>
        </div>
    </div>
    <h4>Nodes</h4>
    <table>
        <tr>
            <th>{% trans 'Node' %}</th>
            <th>{% trans 'Chip' %}</th>
            <th>{% trans 'Firmware' %}</th>
            <th>{% trans 'Last msg' %}</th>
            <th>{% trans 'Last signin' %}</th>
            <th>{% trans 'Uplink' %}</th>
        </tr>
        {% for node in nodes %}
            <tr>
                <td><a href="{% url "control.mesh.node.detail" pk=node.address %}">{{ node }}</a></td>
                <td>
                    {{ node.last_messages.CONFIG_BOARD.parsed.board_config.board.pretty_name }}
                    ({{ node.last_messages.CONFIG_HARDWARE.parsed.chip.pretty_name }} <small>rev{{ node.last_messages.CONFIG_HARDWARE.parsed.revision_major }}.{{ node.last_messages.CONFIG_HARDWARE.parsed.revision_minor }}</small>)
                </td>
                <td>
                    {{ node.last_messages.CONFIG_FIRMWARE.parsed.app_desc.version }}
                    <small>(IDF {{ node.last_messages.CONFIG_FIRMWARE.parsed.app_desc.idf_version }})</small>
                </td>
                <td>
                    {% blocktrans trimmed with timesince=node.last_msg|timesince %}
                        {{ timesince }} ago
                    {% endblocktrans %}
                </td>
                <td>
                    {% blocktrans trimmed with timesince=node.last_signin|timesince %}
                        {{ timesince }} ago
                    {% endblocktrans %}
                </td>
                <td><a href="{% url "control.mesh.node.detail" pk=node.uplink.address %}">{{ node.uplink }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
