{% extends 'control/base.html' %}
{% load i18n %}

{% block heading %}{{ user.username }}{% endblock %}

{% block subcontent %}
    <h4>{% trans 'General Permissions' %}</h4>
    {% if user_permissions_form %}
        <form method="POST" class="user-permissions-form">
            {% csrf_token %}
            {% for field in user_permissions_form %}
                <label>{{ field }} {{ field.label }}</label><br>
            {% endfor %}
            <button type="submit" name="submit_user_permissions" value="1">{% trans 'Save' %}</button>
        </form>
    {% else %}
        <p>
            {% for permission_title in user_permissions %}
                {{ permission_title }},<br>
            {% empty %}
                <em>{% trans 'none' %}</em>
            {% endfor %}
        </p>
    {% endif %}

    <h4>{% trans 'Access Permissions' %}</h4>
    {% if user.accesspermissions.all %}
        <table>
            <tr>
                <th>{% trans 'Access Restriction' %}</th>
                <th>{% trans 'expires' %}</th>
            </tr>
            {% for access_permission in user.accesspermissions.all %}
                <tr>
                    <td>{{ access_permission.access_restriction.title }}</td>
                    <td>{{ access_permission.expire_date }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p><em>{% trans 'none' %}</em></p>
    {% endif %}
    <form method="POST" class="access-permissions-form">
        {% csrf_token %}
        {{ access_permission_form.non_field_errors }}
        {{ access_permission_form.access_permissions.errors }}
        {{ access_permission_form.expires.errors }}
        <div class="fields">
            <div class="field">
                {{ access_permission_form.access_restrictions }}
            </div>
            <div class="field">
                {{ access_permission_form.expires }}
            </div>
            {% if access_permission_form.can_grant %}
                <div class="field">
                    <label>{{ access_permission_form.can_grant }} {{ access_permission_form.can_grant.label }}</label>
                </div>
            {% endif %}
            <div class="field">
                <button type="submit" name="submit_access_permissions" value="1">{% trans 'Create' %}</button>
            </div>
        </div>


    </form>
{% endblock %}
