{% load bootstrap3 %}
{% load i18n %}

{% include 'editor/fragment_modal_close.html' %}
<h3>
    {% if changeset.title %}
        {{ changeset.title }}
    {% else %}
        {% with id=changeset.pk %}
            {% blocktrans %}Change set #{{ id }}{% endblocktrans %}
        {% endwith %}
    {% endif %}
</h3>
<form method="post" action="{{ request.path }}">
{% csrf_token %}
<p class="text-muted">{{ created }}{% if changeset.author %} {{ changeset.author.username }}{% endif %}</p>
{% if changeset.description %}
    <p>{{ changeset.description }}</p>
{% endif %}

{% bootstrap_messages %}

{% for obj in changed_objects %}
    <table class="table table-condensed table-h-bordered change-group">
        <thead>
            <tr>
                <th colspan="2">
                    {% if obj.edit_url %}
                        <a class="btn btn-default btn-xs pull-right" data-force-next-zoom href="{{ obj.edit_url }}">
                            {% trans 'Edit' %}
                        </a>
                    {% elif obj.deleted and can_edit %}
                        <button type="submit" name="restore" value="{{ obj.pk }}" class="btn btn-warning btn-xs pull-right">
                            {% trans 'Restore' %}
                        </button>
                    {% endif %}
                    {% if obj.title %}
                        {{ obj.title }} <small>({{ obj.desc }})</small>
                    {% else %}
                        {{ obj.desc }}
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for change in obj.changes %}
                <tr>
                    <td class="text-{{ change.class }}"><i class="glyphicon glyphicon-{{ change.icon }}"></i></td>
                    <td{% if obj.deleted and change.icon != 'minus' %} class="text-muted"{% endif %}>
                        {% if change.value %}<u>{% else %}<em>{% endif %}{{ change.title }}{% if change.value %}</u>:{% else %}</em>{% endif %}
                        {{ change.value }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% buttons %}
    <button type="submit" class="btn btn-danger" name="delete" value="1">{% trans 'Delete' %}</button>
    <div class="pull-right">
        {% if can_edit %}
            <a href="{% url 'editor.changesets.edit' pk=changeset.pk %}" class="btn btn-default">{% trans 'Edit' %}</a>
        {% endif %}
        <button type="submit" class="btn btn-primary" name="propose" value="1">{% trans 'Propose' %}</button>
    </div>
{% endbuttons %}
</form>
