{% load bootstrap3 %}
{% load i18n %}

{% include 'editor/fragment_modal_close.html' %}
<h3>{{ changeset.title }}</h3>
<form method="post" action="{{ request.path }}">
{% csrf_token %}
<p class="text-muted">{{ desc }}{% if changeset.author %} {{ changeset.author.username }}{% endif %}</p>
<p><em>No description</em></p>

<p>
    <a class="btn btn-default btn-xs" href="">
        {% trans 'Edit' %}
    </a>
    <a class="btn btn-default btn-xs" href="{% url 'editor.changesets.history' pk=changeset.pk %}">
        {% trans 'View History' %}
    </a>
</p>

{% include 'editor/fragment_change_groups.html' %}

{% buttons %}
    <button type="submit" class="btn btn-danger" name="delete" value="1">{% trans 'Delete' %}</button>
    <div class="pull-right">
        <button type="submit" class="btn btn-primary" name="propose" value="1">{% trans 'Propose' %}</button>
    </div>
{% endbuttons %}
</form>
