{% load bootstrap3 %}
{% load i18n %}

{% include 'editor/fragment_modal_close.html' %}
<h3>{% trans 'Change password' %}</h3>

<p>
    <a href="{% url 'editor.users.detail' pk=request.user.pk %}">&laquo; {% trans 'back' %}</a>
</p>

<form method="post" action="{{ request.path_info }}?{{ request.GET.urlencode }}">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">{% trans 'Change password' %}</button>
    </div>
</form>
