{% load bootstrap3 %}
{% load i18n %}

{% include 'editor/fragment_sections.html' %}

<a class="btn btn-sm {% if new %}btn-danger{% else %}btn-default{% endif %} pull-right" href="{{ back_url }}">
    {% trans 'Cancel' %}
</a>
{% if new %}
    <h3>{% blocktrans %}New {{ model_title }}{% endblocktrans %}</h3>
{% else %}
    <h3>{% blocktrans %}Edit {{ model_title }}{% endblocktrans %}</h3>
{% endif %}
<form action="{{ path }}" method="post" data-onbeforeunload>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button class="invisiblesubmit" type="submit"></button>
    {% if not new %}
        <button type="submit" name="delete" value="1" class="btn btn-danger">
            {% trans 'Delete' %}
        </button>
    {% endif %}
    <button type="submit" accesskey="s" class="btn btn-primary pull-right">
        {% trans 'Save' %}
    </button>
    <a class="btn {% if new %}btn-danger{% else %}btn-default pull-right{% endif %} cancel-btn" href="{{ back_url }}">
        {% trans 'Cancel' %}
    </a>
    {% endbuttons %}
</form>
