{% load bootstrap3 %}

<h3>{% if new %}New{% else %}Edit{% endif %} {{ title }}</h3>
<form action="{{ path }}" method="post" data-mapitem-type="{{ mapitem_type }}"{% if new %} data-new{% endif %}{% if not new %} data-name="{{ name }}"{% elif geomtype %} data-geomtype="{{ geomtype }}"{% endif %}>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button class="invisiblesubmit" type="submit"></button>
    {% if not new %}
        <button type="submit" name="delete" value="1" class="btn btn-danger">
            Delete
        </button>
    {% endif %}
    <button type="submit" accesskey="m" class="btn btn-primary pull-right">
        Save
    </button>
    <a class="btn {% if new %}btn-danger{% else %}btn-default pull-right{% endif %} cancel-btn"
       href="{% url 'editor.mapitems.level' mapitem_type=mapitem_type level='LEVEL' %}" data-insert-level>
        Cancel
    </a>
    {% endbuttons %}
</form>
