{% load bootstrap3 %}

<h3>{% if new %}New{% else %}Edit{% endif %} {{ feature_type.title }}</h3>
<form action="{{ path }}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    {% if not new %}
        <button type="submit" name="delete" value="1" class="btn btn-danger">
            Delete
        </button>
    {% endif %}
    <button type="submit" class="btn btn-primary pull-right">
        Submit
    </button>
    <button type="button" id="btn_editing_cancel" class="btn {% if new %}btn-danger{% else %}btn-default pull-right{% endif %}">
        Cancel
    </button>
    {% endbuttons %}
</form>
