{% load i18n %}

{% for group in grouped_changes %}
    <table class="table table-condensed table-h-bordered change-group">
        <thead>
            <tr>
                <th colspan="3">
                    {% if group.edit_url %}
                        <a class="btn btn-default btn-xs pull-right" data-force-next-zoom href="{{ group.edit_url }}">
                            {% trans 'Edit' %}
                        </a>
                    {% endif %}
                    {% if group.obj_title %}
                        {{ group.obj_title }} <small>({{ group.obj }})</small>
                    {% else %}
                        {{ group.obj }}
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for change in group.changes %}
                <tr>
                    <td class="text-{{ change.class }}"><i class="glyphicon glyphicon-{{ change.icon }}"></i></td>
                    <td{% if change.discarded %} class="text-muted"{% endif %}>
                        {% if change.value %}<u>{% else %}<em>{% endif %}{{ change.title }}{% if change.value %}</u>:{% else %}</em>{% endif %}
                        {{ change.value }}
                    </td>
                    <td class="text-muted">
                        {% if change.apply_problem %}
                            <i class="glyphicon glyphicon-alert text-danger" data-toggle="tooltip" data-placement="left" title="{{ change.apply_problem }}"></i>
                        {% elif change.has_no_effect %}
                            <i class="glyphicon glyphicon-ok text-success" data-toggle="tooltip" data-placement="left" title="{% trans 'This change has no effect. You can restore it.' %}"></i>
                        {% endif %}
                        {% if change.author and change.author != changeset.author %}
                            <i class="glyphicon glyphicon-user text-muted" data-toggle="tooltip" data-placement="left" title="{{ change.author.username }}"></i>
                        {% endif %}
                        {% if change.can_restore %}
                            <a class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="left" title="{% trans 'Restore original state' %}">
                                <i class="glyphicon glyphicon-share-alt"></i>
                            </a>
                        {% endif %}
                        {% if change.created %}
                            <i class="glyphicon glyphicon-time text-muted" data-toggle="tooltip" data-placement="left" title="{{ change.created }}"></i>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
