{% if sections %}
    <ul data-sections>
        {% for s in sections %}
            <li>
                <a data-id="{{ s.pk }}" href="{% if section_as_pk %}{% url section_url pk=s.id %}{% else %}{% url section_url section=s.id %}{% endif %}"{% if section.primary_section == s %} class="current"{% endif %}>{{ s.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <ul data-subsections>
        {% for s in section.primary_section.subsections %}
            <li>
                <a data-id="{{ s.pk }}" href="{% if section_as_pk %}{% url section_url pk=s.id %}{% else %}{% url section_url section=s.id %}{% endif %}"{% if section == s %} class="current"{% endif %}>{{ s.subsection_title }}</a>
            </li>
        {% endfor %}
    </ul>
{% elif section %}
    <ul data-sections>
        <li><a data-id="{{ section.primary_section.pk }}" href="" class="current">{{ section.primary_section.title }}</a></li>
    </ul>
    <ul data-subsections>
        <li><a data-id="{{ section.pk }}" href="" class="current">{{ section.subsection_title }}</a></li>
    </ul>
{% endif %}
{% if geometry_url %}
     <span data-geometry-url="{{ geometry_url }}"></span>
{% endif %}
