{% load i18n %}

<div class="list-group">
    {% for model in child_models %}
        <a href="{{ model.url }}" class="list-group-item">
            {% if model.count != None %}<span class="badge">{{ model.count }}</span>{% endif %}
            {{ model.title }}
        </a>
    {% endfor %}
    {% if can_edit_graph and graph_url %}
        <a href="{{ graph_url }}" class="list-group-item">
            {% trans 'Graph' %}
        </a>
    {% endif %}
    {% if overlays_url %}
        <a href="{{ overlays_url }}" class="list-group-item">{% trans 'Overlays' %}</a>
    {% endif %}
</div>
