{% load bootstrap3 %}
{% load i18n %}
{% include 'editor/fragment_levels.html' %}

<h3>
    {% trans 'Graph' %}
    <small>
        {% if space %}
            {% with space.title as space_title %}
                {% blocktrans %}in space {{ space_title }}{% endblocktrans %}
            {% endwith %}
        {% else %}
            {% with level.title as level_title %}
                {% blocktrans %}on level {{ level_title }}{% endblocktrans %}
            {% endwith %}
        {% endif %}
    </small>
</h3>

<a href="{% url 'editor.graph.settings' %}" class="btn btn-default btn-xs pull-right">{% trans 'Settings' %}</a>
<p>
    <a href="{{ back_url }}">&laquo; {{ back_title }}</a>
</p>
{% if parent_url %}
    <p>
        <a href="{{ parent_url }}">&laquo; {{ parent_title }}</a>
    </p>
{% endif %}
{% bootstrap_messages %}

{% if set_active_node %}
    <div data-active-node="{% if active_node %}{{ active_node.pk }}{% else %}null{% endif %}"{% if active_node.space_transfer %} data-space-transfer{% endif %} class="well well-sm">
        <strong>{% trans 'Active node:' %} {{ active_node.pk }}</strong>{% if active_node.space_transfer %} <em>({% trans 'space transfer node' %})</em>{% endif %}<br>
        {% with space_title=active_node.space.title level_title=active_node.space.level.title %}
            {% blocktrans %}in space {{ space_title }}{% endblocktrans %}<br>
            {% blocktrans %}on level {{ level_title }}{% endblocktrans %}
        {% endwith %}
    </div>
{% else %}
    <div data-active-node class="well well-sm"></div>
{% endif %}

<form action="{{ request.path }}" method="post" data-graph-editing="{{ graph_editing }}" data-nozoom>
    {% csrf_token %}

    <h4>{% trans 'Default node properties' %}</h4>
    {% bootstrap_form node_settings_form %}

    <h4>{% trans 'Default edge properties' %}</h4>
    {% bootstrap_form edge_settings_form %}

    {% bootstrap_form graph_action_form %}
</form>
