{% load bootstrap3 %}
{% load i18n %}
{% include 'editor/fragment_levels.html' %}

<h3>{{ space.title }}</h3>
<p>
    <a class="btn btn-default btn-xs" accesskey="e" href="{% url 'editor.spaces.edit' level=space.level.pk pk=space.pk %}">
        {% trans 'Space' as model_title %}
        <i class="glyphicon glyphicon-pencil"></i> {% blocktrans %}Edit {{ model_title }}{% endblocktrans %}
    </a>
</p>
<p>
    <a href="{% url 'editor.spaces.list' level=space.level.pk %}">&laquo; {% trans 'back to overview' %}</a>
</p>
{% bootstrap_messages %}

{% include 'editor/fragment_child_models.html' %}
