{% load bootstrap3 %}
{% load i18n %}

<h3>{% trans 'c3nav map editor' %}</h3>

{% bootstrap_messages %}
{% if can_edit %}
    <p>
        <a class="btn btn-default btn-xs" accesskey="n" href="{% url 'editor.levels.create' %}">
            {% trans 'Level' as model_title %}
            <i class="glyphicon glyphicon-plus"></i> {% blocktrans %}New {{ model_title }}{% endblocktrans %}
        </a>
    </p>
{% endif %}
<div class="list-group">
    {% for l in levels %}
        <a href="{% url 'editor.levels.detail' pk=l.pk %}" class="list-group-item">
            {{ l.title }}
        </a>
    {% endfor %}
</div>

{% include 'editor/fragment_child_models.html' %}
