{% load bootstrap3 %}
{% load i18n %}

<a class="btn btn-default btn-sm pull-right" accesskey="n" href="{% url 'editor.section.create' %}">
    {% trans 'Section' as model_title %}
    {% blocktrans %}New {{ model_title }}{% endblocktrans %}
</a>
<h3>{% trans 'Sections' %}</h3>
<div class="list-group">
    {% for s in sections %}
        <a href="{% url 'editor.section' pk=s.pk %}" class="list-group-item">
            {{ s.title }}
        </a>
    {% endfor %}
</div>

{% include 'editor/fragment_child_models.html' %}
