{% load bootstrap3 %}
{% load i18n %}

{% include 'editor/fragment_sections.html' %}

<a class="btn btn-default btn-sm pull-right" accesskey="n" href="{{ create_url }}">
    {% blocktrans %}New {{ model_title }}{% endblocktrans %}
</a>
<h3>{% blocktrans %}{{ model_title_plural }}{% endblocktrans %}</h3>

<table class="table table-condensed itemtable" data-model="{{ model_name }}">
    <tbody>
        {% for item in objects %}
            {% if forloop.counter0|divisibleby:10 %}
                <tr>
                    <td><a href="{{ back_url }}">&laquo; {{ back_title }}</a></td>
                    <td></td>
                </tr>
            {% endif %}
            <tr data-pk="{{ item.pk }}">
                <td>{{ item.title }}</td>
                <td><a href="{{ item.edit_url }}">{% trans 'Edit' %}</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td><a href="{{ back_url }}">&laquo; {{ back_title }}</a></td>
            <td></td>
        </tr>
    </tbody>
</table>
