{% load bootstrap3 %}
{% load i18n %}

{% include 'editor/fragment_levels.html' %}

{% if list_url %}
    <a class="btn btn-default btn-xs pull-right" href="{{ list_url }}">
        <i class="glyphicon glyphicon-th-list"></i> {% trans 'List' %}
    </a>
{% elif bulk_url %}
    <a class="btn btn-default btn-xs pull-right" data-force-next-zoom href="{{ bulk_url }}">
        <i class="glyphicon glyphicon-th-list"></i> {% trans 'Bulk edit' %}
    </a>
{% endif %}
<h3>
    {% if bulk_actions %}
        {% blocktrans %}Edit {{ model_title_plural }}{% endblocktrans %}
    {% else %}
        {{ model_title_plural }}
    {% endif %}
    {% if space %}
        {% with space.title as space_title %}
            <small>{% blocktrans %}in space {{ space_title }}{% endblocktrans %}</small>
        {% endwith %}
    {% elif level %}
        {% with level.title as level_title %}
            <small>{% blocktrans %}on level {{ level_title }}{% endblocktrans %}</small>
        {% endwith %}
    {% endif %}
</h3>
{% bootstrap_messages %}
{% if not bulk_actions and can_create %}
    <a class="btn btn-default btn-xs" accesskey="n" href="{{ create_url }}">
        <i class="glyphicon glyphicon-plus"></i> {% blocktrans %}New {{ model_title }}{% endblocktrans %}
    </a>
    {% if model_title == "Stair" %}
        <a class="btn btn-default btn-xs" accesskey="n" href="/editor/spaces/{{ space.id }}/staircase">
            <i class="glyphicon glyphicon-plus"></i> {% blocktrans %}New staircase{% endblocktrans %}
        </a>
    {% endif %}
{% endif %}

{% if explicit_edit %}
    {% trans 'Details' as edit_caption %}
{% else %}
    {% trans 'Edit' as edit_caption %}
{% endif %}

{% if bulk_actions %}
    <form method="post" action="{{ request.path }}">
    {% csrf_token %}
{% endif %}
<table class="table table-condensed itemtable" data-nozoom data-list="{{ model_name }}">
    <tbody>
        {% for objects in grouped_objects %}
            {% if objects.title %}
                <tr class="item-group-header">
                    <td>{{ objects.title }}</td>
                    {% for col in add_cols %}<td></td>{% endfor %}
                    <td></td>
                </tr>
            {% endif %}
            {% for item in objects.objects %}
                {% if forloop.counter0|divisibleby:10 %}
                    <tr>
                        <td><a href="{{ back_url }}" data-no-next-zoom>&laquo; {{ back_title }}</a></td>
                        {% for col in add_cols %}<td></td>{% endfor %}
                        <td></td>
                    </tr>
                {% endif %}
                <tr data-pk="{{ item.pk }}">
                    <td>
                        {% if bulk_actions %}<label for="bulk_actions_{{ item.pk }}">{% endif %}
                        {{ item.title }}
                        {% if bulk_actions %}</label>{% endif %}
                    </td>
                    {% for col in item.add_cols %}<td>{{ col }}</td>{% endfor %}
                    <td>
                    {% if bulk_actions %}
                        <input type="checkbox" name="ids" value="{{ item.pk }}" id="bulk_actions_{{ item.pk }}"{% if item.pk in selected_ids %} checked{% endif %}>
                    {% else %}
                        <a href="{{ item.edit_url }}">{{ edit_caption }}</a>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        <tr>
            <td><a href="{{ back_url }}" data-no-next-zoom>&laquo; {{ back_title }}</a></td>
            {% for col in add_cols %}<td></td>{% endfor %}
            <td></td>
        </tr>
    </tbody>
</table>
{% if bulk_actions %}
    {% for action in bulk_actions %}
        <div class="form-inline bulk-action">
            {% if action.form %}
                {% for field in action.form %}
                    {% bootstrap_field field layout="inline" show_label=False %}
                {% endfor %}
            {% endif %}
            <button type="submit" name="action" value="{{ action.name }}" class="btn btn-{% if action.color %}{{ action.color }}{% else %}default{% endif %}">{{ action.label }}</button>
        </div>
    {% endfor %}
</form>
{% endif %}
