{% extends 'editor/base.html' %}
{% load static %}
{% block addnav %}
<div id="responsive_switch" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#" id="show_map">&laquo; Show Map</a>
            <a href="#" id="show_details">Show Details &raquo;</a>
        </li>
    </ul>
</div>
{% endblock %}
{% block content %}
<div id="map"></div>
<div id="sidebar">
    <div id="sidebarcontent" class="loading">
        <span data-level-switch="{% url 'editor.mapitemtypes' level='LEVEL' %}"></span>
    </div>
</div>
{% endblock %}
