{% extends 'editor/base.html' %}
{% load static %}
{% load i18n %}

{% block addnav %}
<noscript>
    <div id="noscript">{% trans 'Editing geometries using the map requires JavaScript.' %}</div>
</noscript>
{% endblock %}

{% block subheader %}
<div id="responsive_switch">
    <a href="#" id="show_map">&laquo; {% trans 'Show map' %}</a>
    <a href="#" id="show_details">{% trans 'Show details' %} &raquo;</a>
</div>
{% endblock %}

{% block content %}
<div id="map"></div>
<div id="sidebar">
    <div class="content">{{ content | safe }}</div>
</div>
{% endblock %}
