{% load bootstrap3 %}

<h3>Delete {{ mapitem_type.title }}</h3>
<form action="{{ path }}" method="post">
    {% csrf_token %}
    <p>Please confirm deleting: {{ name }}</p>
    <input type="hidden" name="delete" value="1">
    <input type="hidden" name="name" value="{{ name }}">
    {% buttons %}
    <button class="invisiblesubmit" type="submit"></button>
    <a class="btn btn-default" href="{% url 'editor.mapitems.level' mapitem_type=mapitem_type level='LEVEL' %}" data-insert-level>
        Cancel
    </a>
    <button type="submit" name="delete_confirm" value="1" class="btn btn-danger pull-right" data-reload-geometries>
        Delete
    </button>
    {% endbuttons %}
</form>
