{% load bootstrap3 %}

<a class="btn btn-default btn-sm pull-right " href="{% url 'editor.mapitems.add' mapitem_type=mapitem_type %}">Add new</a>
<h3>{{ title }}{% if has_level %} <small>on level {{ level }}</small>{% endif %}</h3>

<table class="table table-condensed itemtable" data-mapitem-type="{{ mapitem_type }}">
    <tbody>
        {% for item in items %}
            {% if forloop.counter0|divisibleby:10 %}
                <tr>
                    <td><a href="{% url 'editor.mapitemtypes' level='LEVEL' %}" data-insert-level>&laquo; Back</a></td>
                    <td></td>
                </tr>
            {% endif %}
            <tr data-name="{{ item.name }}">
                <td>{{ item.name }}</td>
                <td><a href="{% url 'editor.mapitems.edit' mapitem_type=mapitem_type name=item.name %}">Edit</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td><a href="{% url 'editor.mapitemtypes' level='LEVEL' %}" data-insert-level>&laquo; Back</a></td>
            <td></td>
        </tr>
    </tbody>
</table>

{% if has_level %}
    <span data-level-switch="{% url 'editor.mapitems.level' mapitem_type=mapitem_type level='LEVEL' %}"></span>
{% else %}
    <span data-level-switch></span>
{% endif %}
