{% load bootstrap3 %}
{% load i18n %}
{% include 'editor/fragment_sections.html' %}

<a class="btn btn-default btn-sm pull-right" accesskey="e" href="{% url 'editor.sections.edit' pk=section.pk %}">
    {% trans 'Section' as model_title %}
    {% blocktrans %}Edit {{ model_title }}{% endblocktrans %}
</a>
<h3>
    {{ section.title }}
    {% if section.on_top_of != None %}
        {% with section.on_top_of.title as on_top_of_section_title %}
            <small>{% blocktrans %}on top of {{ on_top_of_section_title }}{% endblocktrans %}</small>
        {% endwith %}
    {% endif %}
</h3>
<p>
    {% if section.on_top_of == None %}
        <a href="{% url 'editor.index' %}">&laquo; {% trans 'back to overview' %}</a>
    {% else %}
        <a href="{% url 'editor.sections.detail' pk=section.on_top_of.pk %}">&laquo; {% trans 'back to parent section' %}</a>
    {% endif %}
</p>

{% include 'editor/fragment_child_models.html' %}

{% if section.on_top_of == None %}
<a class="btn btn-default btn-sm pull-right" accesskey="n" href="{{ create_url }}">
    {% blocktrans %}New {{ model_title }}{% endblocktrans %}
</a>
<h3>{% trans 'Sections on top' %}</h3>
<div class="list-group">
{% for s in sections_on_top %}
    <a href="{% url 'editor.sections.detail' pk=s.pk %}" class="list-group-item">
        {{ s.title }}
    </a>
{% endfor %}
</div>
{% endif %}
