{% load i18n %}

{% include 'editor/fragment_modal_close.html' %}
<h3>
    <i class="glyphicon glyphicon-user"></i> {{ user.username }}
    {% if request.user == user %}
        <small class="text-success">{% trans "That\'s you!" %}</small>
    {% endif %}
</h3>

<h4>{% trans 'Change sets' %}</h4>
<table class="table table-condensed itemtable">
    {% for changeset in changesets %}
        <tr>
            <td>#{{ changeset.pk }}: {% if changeset.title %}{{ changeset.title }}{% else %}<em>{% trans '(no title)' %}</em>{% endif %}</td>
            <td><a href="{% url 'editor.changesets.detail' pk=changeset.pk %}">{% trans 'Details' %}</a></td>
        </tr>
    {% endfor %}
</table>



