#mapeditor {
    position:absolute;
    top:54px;
    bottom:0;
    left:0;
    right:0;
}
.leaflet-control-layers-overlays label {
    margin-bottom:0;
}
.leaflet-control-layers-overlays input[type="checkbox"] {
    margin: 2px 0 0;
    top:2px;
}
