{% extends 'site/base.html' %}
{% load i18n %}

{% block content %}
<main class="account">
    {% if not request.mobileclient and not ajax %}
        <a href="{% url 'site.index' %}" class="float-right">&laquo; {% trans 'back to c3nav' %}</a>
    {% endif %}
    <h2>{% trans 'About c3nav' %}</h2>

    <p>{% blocktrans %}c3nav is open source software, find out more about it on <a href="https://github.com/c3nav" rel="external" target="_blank">GitHub</a>.{% endblocktrans %}</p>
    {% if about_extra %}
        <p>{{ about_extra }}</p>
    {% endif %}
    <p>{% blocktrans %}Keep yourself up to date on c3nav by following us on <a href="https://chaos.social/@c3nav" rel="external" target="_blank">the fediverse</a>.{% endblocktrans %}</p>
    {% if team %}
        <p>{% trans 'The c3nav team at this event:' %} {{ team }}</p>
    {% endif %}
    {% if hosting %}
        <p>{% trans 'Hosting for this event was kindly provided by:' %} {{ hosting }}</p>
    {% endif %}
    {% if patrons %}
        <p>{% blocktrans %}Development of the software was supported by the following patrons on <a href="https://patreon.com/c3nav" rel="external" target="_blank">Patreon</a>:{% endblocktrans %} {{ patrons }}</p>
    {% endif %}
    <p>Version: {{ version }}</p>

    {% if imprint %}
    <p><a href="{{ imprint }}" target="_blank">{% trans "Imprint" %}</a></p>
    {% endif %}
</main>
{% endblock %}
