{% extends 'site/base.html' %}
{% load i18n %}

{% block content %}
<main class="account">
    {% if not request.mobileclient and not request.is_ajax %}
        <a href="{% url 'site.index' %}" class="float-right">&laquo; {% trans 'back to c3nav' %}</a>
    {% endif %}
    <h2>{% trans 'About c3nav' %}</h2>

    <p>{% blocktrans %}c3nav is open source software, find out more about it on <a href="https://github.com/c3nav" rel="external" target="_blank">c3nav</a>.{% endblocktrans %}</p>
    <p>{% blocktrans %}Keep yourself up to date on c3nav by following us on <a href="https://twitter.com/c3nav" rel="external" target="_blank">Twitter</a>.{% endblocktrans %}</p>
    {% if team %}
        <p>{% trans 'The c3nav team at this event:' %} {{ team }}</p>
    {% endif %}
    {% if hosting %}
        <p>{% trans 'Hosting for this event was kindly provided by:' %} {{ hosting }}</p>
    {% endif %}
    {% if patrons %}
        <p>{% blocktrans %}Development of the software was supported by the following patrons on <a href="https://patreon.com/c3nav" rel="external" target="_blank">Patreon</a>:{% endblocktrans %} {{ patrons }}</p>
    {% endif %}

    {% if address %}
        <h4>{% trans 'Responsible for this website:' %}</h4>
        <p>{{ address }}</p>
    {% endif %}

    <h4>{% trans 'Data privacy' %}</h4>

    <p>{% trans 'We do not collect any personal data.' %}</p>
    <p>{% trans 'Any data that your device sends to c3nav that might be used to track you will either be discarded after processing it or saved in a way that does not allow us to connect it to you.' %}</p>
    <p>{% trans 'If you register an account, we do not ask for personal data either.' %}</p>
</main>
{% endblock %}
