{% extends 'site/base.html' %}
{% load i18n %}

{% block content %}
<main class="account">
    <h2>{% trans 'Your Account' %}</h2>

    {% include 'site/fragment_messages.html' %}

    <p>
        {% with username=request.user.username %}
            {% blocktrans %}You are logged in as <strong>{{ username }}</strong>.{% endblocktrans %}
        {% endwith %}
    </p>

    {% if request.user_permissions.control_panel and not request.mobileclient %}
        <hr>
        <p>
            {% trans 'You can access the control panel.' %}
        </p>
        <p>
            <a class="button" href="{% url 'control.index' %}">{% trans 'c3nav control panel' %}</a>
        </p>
    {% endif %}

    {% if request.user_permissions.can_review_reports %}
        <hr>
        <p>
            {% trans 'You can review reports' %}
        </p>
        <p>
            <a class="button" href="{% url 'site.report_list' %}">{% trans 'Show reports' %}</a>
        </p>
    {% endif %}

    <hr>
    <p>
        <a class="button" href="{% url 'site.logout' %}">{% trans 'Log out' %}</a>
        <a class="button" href="{% url 'site.account.change_password' %}">{% trans 'Change password' %}</a>
    </p>
</main>
{% endblock %}
