{% load static %}
{% load compress %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>{% block title %}c3nav{% endblock %}</title>
    {% if favicon %}
        <link href="{% static favicon %}" rel="icon">
    {% endif %}
    {% if favicon_package %}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_package/apple-touch-icon.png' %}">
        <link rel="manifest" href="{% static 'favicon_package/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'favicon_package/safari-pinned-tab.svg' %}" color="{{ colors.safari_mask_icon_color }}">
        <meta name="apple-mobile-web-app-title" content="c3nav">
        <meta name="application-name" content="c3nav">
        <meta name="msapplication-TileColor" content="{{ colors.msapplication_tile_color }}">
        <meta name="msapplication-config" content="{% static 'favicon_package/browserconfig.xml' %}">
    {% endif %}
    <meta name="theme-color" content="{{ colors.header_background_color }}">
    {% compress css %}
        <link href="{% static 'fonts/fonts.css' %}" rel="stylesheet">
        <link href="{% static 'normalize/normalize.css' %}" rel="stylesheet">
        <link href="{% static 'leaflet/leaflet.css' %}" rel="stylesheet">
        <link href="{% static 'material-symbols/material-symbols.css' %}" rel="stylesheet">
        <link href="{% static 'site/css/c3nav.scss' %}" rel="stylesheet" type="text/x-scss">
    {% endcompress %}
    {% block head %}
    {% endblock %}
</head>
<body data-user-data="{{ user_data_json }}">
    {% if not embed and not request.mobileclient %}
        <header>
            <h1><a href="{% block header_title_url %}/{% endblock %}">
                {% if header_logo %}<img src="{% static header_logo %}">{% else %}c3nav {% endif %}{% spaceless %}
                {% endspaceless %}{% block header_title %}{% endblock %}
            </a></h1>
            <a href="/account/" id="user">
                <span>{{ request.user_data.title }}</span>
                <small>{% if request.user_data.subtitle %}{{ request.user_data.subtitle }}{% endif %}</small>
            </a>
        </header>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>
