{% load static %}
{% load compress %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{% block title %}c3nav{% endblock %}</title>
    {% if favicon %}
        <link href="{% static favicon %}" rel="icon">
    {% endif %}
    {% compress css %}
        <link href="{% static 'fonts/fonts.css' %}" rel="stylesheet">
        <link href="{% static 'normalize/normalize.css' %}" rel="stylesheet">
        <link href="{% static 'leaflet/leaflet.css' %}" rel="stylesheet">
        <link href="{% static 'material-icons/material-icons.css' %}" rel="stylesheet">
        <link href="{% static 'site/css/c3nav.scss' %}" rel="stylesheet" type="text/x-scss">
    {% endcompress %}
</head>
<body>
    {% if not embed %}
        <header>
            <h1><a href="{% block header_title_url %}/{% endblock %}">
                {% spaceless %}
                    {% if header_logo %}
                        <img src="{% static header_logo %}">
                    {% else %}
                        c3nav
                    {% endif %}
                {% endspaceless %}{% block header_title %}{% endblock %}
            </a></h1>
            <a href="/account/" id="user">
                <span>{{ request.user_data.title }}</span>
                <small>{% if request.user_data.subtitle %}{{ request.user_data.subtitle }}{% endif %}</small>
            </a>
        </header>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>
