{% load static %}
{% load compress %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>{% block title %}{{ branding }}{% endblock %}</title>
    {% if favicon %}
        <link href="{% static favicon %}" rel="icon">
    {% endif %}
    {% if favicon_package %}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_package/apple-touch-icon.png' %}">
        <link rel="manifest" href="{% static 'favicon_package/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'favicon_package/safari-pinned-tab.svg' %}" color="{{ primary_color }}">
        <meta name="apple-mobile-web-app-title" content="{% if branding %}{{ branding }}{% else %}}c3nav{% endif %}">
        <meta name="application-name" content="{% if branding %}{{ branding }}{% else %}}c3nav{% endif %}">
        <meta name="msapplication-TileColor" content="{{ primary_color }}">
        <meta name="msapplication-config" content="{% static 'favicon_package/browserconfig.xml' %}">
    {% endif %}
    <meta name="theme-color" media="(prefers-color-scheme: light)" id="theme-color-meta-light"
          content="{{ active_theme.theme_color_light }}"/>
    <meta name="theme-color" media="(prefers-color-scheme: dark)" id="theme-color-meta-dark"
          content="{{ active_theme.theme_color_dark }}"/>
    {% if randomize_primary_color %}
        <style id="c3nav-theme-randomized-primary-color">
            :root {
                --color-primary: {{ primary_color }};
                --color-logo: {{ primary_color }};
            }
        </style>
    {% endif %}
    <style id="c3nav-theme-css-vars">{{ active_theme.css_vars | striptags | safe }}</style>
    {{ themes|json_script:"c3nav-themes" }}
    {{ active_theme_id|json_script:"c3nav-active-theme" }}
    {% compress css %}
        <link href="{% static 'fonts/fonts.css' %}" rel="stylesheet">
        <link href="{% static 'normalize/normalize.css' %}" rel="stylesheet">
        <link href="{% static 'leaflet/leaflet.css' %}" rel="stylesheet">
        <link href="{% static 'leaflet-markercluster/MarkerCluster.css' %}" rel="stylesheet">
        <link href="{% static 'material-symbols/material-symbols.css' %}" rel="stylesheet">
        <link href="{% static 'site/css/c3nav.scss' %}" rel="stylesheet" type="text/x-scss">
    {% endcompress %}
    <style id="c3nav-theme-css-extra">{{ active_theme.css_extra | striptags | safe }}</style>
    {% block head %}
    {% endblock %}
    {% if header_logo and header_logo_mask_mode %}
        <style>
        @supports (mask-mode: {{ header_logo_mask_mode }}) and (mask-repeat: no-repeat) and (mask-size: contain) {
            #header-logo-link {
                mask-image: url('{% static header_logo %}');
                mask-mode: {{ header_logo_mask_mode }};
                mask-repeat: no-repeat;
                mask-size: contain;
                background: var(--color-logo);
            }

            #header-logo-link > img {
                visibility: hidden;
            }
        }
        </style>
    {% endif %}
    {% if header_logo_anim %}
    <script async defer>
        document.addEventListener('readystatechange', event => { 
            // When all resources have been loaded 
            if (event.target.readyState === "complete") {
                // Do not annoy critters with animations when they specificially requested that no
                const _motionReduced = window.matchMedia("(prefers-reduced-motion: reduce)");
                if (_motionReduced && _motionReduced.matches)
                    return;

                const _logo_canvas = document.getElementById("c3nav-logo-canvas");
                const _logo_link = document.getElementById("header-logo-link");

                // Create worker thread for logo
                const _logo_worker = new Worker("{% static header_logo_anim %}");
                var _logo_offscreen = null;

                _logo_link.onmouseover = function(){
                    _logo_link.style.visibility = 'hidden';
                    _logo_canvas.style.visibility = 'visible';
                    _logo_canvas.style.zIndex = '1';
                    
                    if (!_logo_offscreen) {
                        _logo_canvas.width = _logo_canvas.clientWidth * window.devicePixelRatio;
                        _logo_canvas.height = _logo_canvas.clientHeight * window.devicePixelRatio;
                        
                        _logo_offscreen = _logo_canvas.transferControlToOffscreen();

                        // Send the offscreen logo canvas to the worker
                        _logo_worker.postMessage({ canvas: _logo_offscreen, dpr: window.devicePixelRatio }, [_logo_offscreen]);
                    }
                    // Instruct worker to resume animation
                    _logo_worker.postMessage({ pause: false });

                    // We have to fetch it at runtime since the logo link changes dynamically
                    const _logo_href = _logo_link.getAttribute('href');
                    _logo_canvas.style.cursor = (_logo_href ? 'pointer' : 'default');
                    
                    if (_logo_href)
                        _logo_canvas.onclick = function() { window.open(_logo_href, '_self'); _logo_offscreen = null; };
                };

                _logo_canvas.onmouseout = function(){
                    _logo_link.style.visibility = 'visible';
                    _logo_canvas.style.visibility = 'hidden';
                    _logo_canvas.style.zIndex = '-1';

                    // Instruct worker to pause animation
                    _logo_worker.postMessage({ pause: true });

                    _logo_canvas.onclick = null;
                };
            }
        });
    </script>
    {% endif %}
</head>
<body data-user-data="{{ user_data_json }}">
{% if not embed and not request.mobileclient %}
    <header>
        <h1>{% if header_logo_anim %}<canvas id="c3nav-logo-canvas"></canvas>{% endif %}<a href="{% block header_title_url %}/{% endblock %}" id="header-logo-link">
            {% if header_logo %}<img src="{% static header_logo %}" alt="{% if branding %}{{ branding }}{% else %}}c3nav{% endif %}">{% else %}{% if branding %}{{ branding }}{% else %}}c3nav{% endif %} {% endif %}{% spaceless %}
        {% endspaceless %}{% block header_title %}{% endblock %}
        </a></h1>
        <a href="/account/" id="user">
            <span>{{ request.user_data.title }}</span>
            <small>{% if request.user_data.subtitle %}{{ request.user_data.subtitle }}{% endif %}</small>
        </a>
    </header>
{% endif %}
{% block content %}
{% endblock %}
</body>
</html>
