{% load i18n %}

<footer>
    <a href="https://github.com/c3nav/c3nav">GitHub</a>
    – <a href="https://twitter.com/c3nav">Twitter</a>
    – <a href="{% url 'editor.index' %}">{% trans 'Editor' %}</a>
    – <a href="/api/">{% trans 'API' %}</a>
    <form action="{% url 'set_language' %}" method="post" class="languages">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}" />
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            {% if not forloop.first %}–{% endif %}
            <button type="submit" name="language" value="{{ language.code }}" class="btn btn-link btn-xs">
                {{ language.name_local }}
            </button>
        {% endfor %}
    </form>
    {% if full_access or access_list %}
        <br><small>
        {% if full_access %}
            {% trans 'full access unlocked' %}
        {% else %}
            {% blocktrans count count=access_list|length %}
                {{ count }} area unlocked
            {% plural %}
                {{ count }} areas unlocked
            {% endblocktrans %}
        {% endif %}
        </small>
    {% endif %}
</footer>
