{% load static %}
{% load i18n %}
{% load route_render %}

<h2>{% trans 'Your Route' %}</h2>
{% if route.ctypes_exception %}
<div class="alert alert-warning">
    <strong>{% trans 'This Route contains way types you wanted to avoid.' %}</strong>
</div>
{% endif %}
<div class="routeparts">
    {% for routepart in route.routeparts %}
        <div class="row routepart">
            <div class="col-md-6">
                <svg xmlns="http://www.w3.org/2000/svg" class="map" data-level="{{ routepart.level.name }}"
                     viewBox="0 0 {{ routepart.svg_width | stringformat:"f" }} {{ routepart.svg_height | stringformat:"f" }}"
                     style="max-height:{% if routepart.svg_height > 300 %}300{% else %}{{ routepart.svg_height | stringformat:"f" }}{% endif %}px">
                    <defs>
                        <marker id="arrow-{{ forloop.counter0 }}" markerWidth="4" markerHeight="4" refX="2.5" refY="2" orient="auto">
                            <path d="M0,0 L3,2 L0,4 L0,0" style="fill: #FF0000; stroke: 0;"></path>
                        </marker>
                    </defs>

                    <image width="{{ svg_width | stringformat:"f" }}" height="{{ svg_height | stringformat:"f" }}"
                           x="{{ routepart.svg_min_x | negate | stringformat:"f" }}" y="{{ routepart.svg_min_y | negate | stringformat:"f" }}"
                           xlink:href="/map/{{ routepart.level.name }}.png"></image>

                    <g class="connections">
                        {% for line in routepart.lines %}
                            <line x1="{{ line.from_point.svg_x | subtract:routepart.svg_min_x  | stringformat:"f"}}"
                                  y1="{{ line.from_point.svg_y | subtract:routepart.svg_min_y | stringformat:"f" }}"
                                  x2="{{ line.to_point.svg_x | subtract:routepart.svg_min_x | stringformat:"f" }}"
                                  y2="{{ line.to_point.svg_y | subtract:routepart.svg_min_y | stringformat:"f" }}"
                                  {% if line.arrow %}marker-end="url(#arrow-{{ forloop.parentloop.counter0 }})"{% endif %}></line>
                        {% endfor %}
                    </g>
                </svg>
            </div>
            <div class="col-md-6">
                {% if forloop.first %}
                <div class="desc">
                    <div class="icon location"></div>
                    <p><strong>{{ origin.title }}</strong><br>{{ origin.subtitle }}</p>
                </div>
                {% endif %}
                {% for line in routepart.lines %}
                    {% if not line.ignore %}
                        <div class="desc">
                            <div class="icon {{ line.icon }}"></div>
                            <p>{% if line.title %}<strong>{{ line.title }}</strong><br>{% endif %}{{ line.description }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if forloop.last %}
                <div class="desc">
                    <div class="icon destination"></div>
                    <p><strong>{{ destination.title }}</strong><br>{{ destination.subtitle }}</p>
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
