{% load i18n %}
<div class="col-md-{% if name == 'location' %}12{% else %}6{% endif %} location-group {{ name }}-select{% if location %} selected{% endif %}">
    <div class="form-group{% if search == name and not search_results %} has-error{% endif %}" data-name="{{ name }}">
        <label for="{{ name }}_input">{{ heading }}</label>
        <div class="locationselect">
            <div class="locationselect-input">
                {% if search == name and search_results %}
                    <span class="twitter-typeahead" style="position: relative; display: inline-block;">
                {% endif %}
                        <input type="text" class="form-control input-lg" id="{{ name }}_input"
                               name="{{ name }}_search" placeholder="{% trans 'Search any Location…' %}"
                               {% if search and not location %} value="{% if search == name %}{{ search_query }}{% endif %}"{% endif %}>
                {% if search == name and search_results %}
                        <div class="tt-menu tt-open noscript" style="display: block;">
                            <div class="tt-dataset tt-dataset-0">
                                {% for result in search_results %}
                                    <a href="{{ result.url }}" class="location tt-suggestion">
                                        <span class="title">{{ result.title }}</span>
                                        <small class="subtitle">{{ result.subtitle }}</small>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </span>
                {% endif %}
            </div>
            <div class="locationselect-selected">
                <div class="location form-control input-lg">
                    <span class="title">{{ location.title }}</span>
                    <small class="subtitle">{{ location.subtitle }}</small>
                </div>
                <div class="icons">
                    {% if name != 'location' %}
                        <a href="{% if location %}{% url 'site.location' location=location.location_id %}{% endif %}" class="link"></a>
                    {% endif %}
                    <a href="{{ reset_url }}" class="reset"></a>
                </div>
                <input type="hidden" name="{{ name }}" value="{{ location.location_id }}" class="id-field">
            </div>
        </div>
        {% if search == name and not search_results %}
            <span class="help-block">{% trans 'No location matched your search query.' %}</span>
        {% endif %}
    </div>
    {% if name == 'location' %}
        <div class="row only-if-selected">
            <div class="col-xs-6">
                <a class="btn btn-primary btn-block" id="route-to-here" href="{% if location %}{% url 'site.destination' destination=location.location_id %}{% endif %}">{% trans 'Route to here' %}</a>
            </div>
            <div class="col-xs-6">
                <a class="btn btn-default btn-block" id="route-from-here" href="{% if location %}{% url 'site.origin' origin=location.location_id %}{% endif %}">{% trans 'Route from here' %}</a>
            </div>
        </div>
    {% endif %}
    {% if not location %}
        <noscript>
            <button type="submit" class="btn btn-primary btn-block">{% trans 'Search' %}</button>
        </noscript>
    {% endif %}
</div>
