{% load i18n %}
<div class="form-group col-md-6">
    <label for="{ name }}_input">{{ heading }}</label>
    <div class="locationselect {% if location %} selected{% endif %}">
        <div class="locationselect-input">
            <input type="text" class="form-control input-lg" id="{ name }}_input" name="{{ name }}_search" placeholder="{% trans 'Search any Location…' %}">
        </div>
        <div class="locationselect-selected">
            <div class="location form-control input-lg">
                <span class="title">{{ location.title }}</span>
                <small class="subtitle">{{ location.subtitle }}</small>
            </div>
            <div class="icons">
                <a href="" class="reset"></a>
            </div>
            <input type="hidden" name="{{ name }}" value="{{ location.name }}" class="name-field">
        </div>
    </div>
</div>
