{% load static %}
{% load compress %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>c3nav</title>
    {% compress css %}
        <link href="{% static 'fonts/fonts.css' %}" rel="stylesheet">
        <link href="{% static 'normalize/normalize.css' %}" rel="stylesheet">
        <link href="{% static 'milligram/milligram.css' %}" rel="stylesheet">
        <link href="{% static 'leaflet/leaflet.css' %}" rel="stylesheet">
        <link href="{% static 'site/css/c3nav.css' %}" rel="stylesheet">
    {% endcompress %}
  </head>

  <body>
    <header>
        <h1>c3nav</h1>
    </header>
    <main class="map" data-state="{{ state }}">
        <section id="popup-buttons">
            <button class="button-clear as-location">Show only this location</button>
            <button class="button-clear as-destination">Route to here</button>
            <button class="button-clear as-origin">Route from here</button>
        </section>
        <section id="map" data-bounds="{{ bounds }}" data-levels="{{ levels }}"></section>
        <section id="sidebar">
            <section id="search">
                <div class="location locationinput empty" id="origin-input">
                    <input type="text" autocomplete="off" spellcheck="false" placeholder="{% trans 'Search any location…' %}">
                    <small></small>
                    <button class="button-clear locate"></button>
                    <button class="button-clear clear"></button>
                </div>
                <div class="location locationinput empty" id="destination-input">
                    <input type="text" autocomplete="off" spellcheck="false" placeholder="{% trans 'Search any location…' %}">
                    <small></small>
                    <button class="button-clear locate"></button>
                    <button class="button-clear clear"></button>
                </div>
                <div class="buttons" id="location-buttons">
                    <button class="button-clear details">Details</button>
                    <button class="button-clear share">Share</button>
                    <button class="button-clear route">Route</button>
                </div>
                <div class="buttons" id="route-search-buttons">
                    <button class="button-clear swap">Swap</button>
                    <button class="button-clear close">Close</button>
                </div>
            </section>
            <section id="route-header">
                <div id="route-summary">
                    <span><strong>10min</strong> (100m)… sorry no routing yet</span>
                    <small><em>default options</em></small>
                    <button class="button-clear close"></button>
                </div>
                <div class="buttons" id="route-result-buttons">
                    <button class="button-clear swap">Return</button>
                    <button class="button-clear options">Share</button>
                    <button class="button-clear options">Options</button>
                </div>
            </section>
            <div id="resultswrapper">
                <section id="autocomplete"></section>
            </div>
        </section>
    </main>
    {% compress js %}
        <script type="text/javascript" src="{% static 'jquery/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'leaflet/leaflet.js' %}"></script>
        <script type="text/javascript" src="{% static 'site/js/c3nav.js' %}"></script>
    {% endcompress %}
  </body>
</html>
