{% load static %}
{% load compress %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>c3nav</title>
    {% compress css %}
        <link href="{% static 'fonts/fonts.css' %}" rel="stylesheet">
        <link href="{% static 'normalize/normalize.css' %}" rel="stylesheet">
        <link href="{% static 'milligram/milligram.css' %}" rel="stylesheet">
        <link href="{% static 'leaflet/leaflet.css' %}" rel="stylesheet">
        <link href="{% static 'site/css/c3nav.css' %}" rel="stylesheet">
    {% endcompress %}
  </head>

  <body>
    <header>
        <h1>c3nav</h1>
    </header>
    <main class="map">
        <section id="map" data-bounds="{{ bounds }}" data-levels="{{ levels }}"></section>
        <section id="sidebar">
            <section id="search">
                <div class="location locationinput empty" id="origin-input">
                    <input type="text" placeholder="{% trans 'Search any location…' %}">
                    <small></small>
                    <button class="button-clear locate"></button>
                    <button class="button-clear clear"></button>
                </div>
                <div class="location locationinput empty" id="destination-input">
                    <input type="text" placeholder="{% trans 'Search any location…' %}">
                    <small></small>
                    <button class="button-clear locate"></button>
                    <button class="button-clear clear"></button>
                </div>
                <!--<div class="buttons" id="search-buttons">
                    <button class="button-clear">Scan QR Code</button>
                    <button class="button-clear">Locate</button>
                </div>-->
                <div class="buttons" id="location-buttons">
                    <button class="button-clear">Details</button>
                    <button class="button-clear">Share</button>
                    <button class="button-clear">Route</button>
                </div>
                <div class="buttons" id="route-buttons">
                    <button class="button-clear">swap</button>
                    <button class="button-clear">Options</button>
                </div>
            </section>
            <div id="resultswrapper">
                <section id="autocomplete">
                    <div class="location">
                        <span>Hall 1</span>
                        <small>Lecture Hall</small>
                    </div>
                    <div class="location">
                        <span>Hall 1</span>
                        <small>Lecture Hall</small>
                    </div>
                </section>
            </div>
        </section>
    </main>
    {% compress js %}
        <script type="text/javascript" src="{% static 'jquery/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'leaflet/leaflet.js' %}"></script>
        <script type="text/javascript" src="{% static 'site/js/typeahead.js' %}"></script>
        <script type="text/javascript" src="{% static 'site/js/c3nav.js' %}"></script>
    {% endcompress %}
  </body>
</html>
