body {
    font-size:16px;
}
.btn-lg {
    font-size:18px;
}
#map {
    position:absolute;
    top:54px;
    bottom:0;
    left:0;
    right:350px;
}
.leaflet-control-layers-overlays label {
    margin-bottom:0;
}
.leaflet-control-layers-overlays input[type="checkbox"] {
    margin: 2px 0 0;
    top:2px;
}

form button.invisiblesubmit {
    overflow: visible;
    height: 0;
    width: 0;
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
}

.leaflet-control-layers-toggle {
    color:#000000 !important;
    font-size:14px;
    text-align:center;
    width:75px;
    line-height:36px;
    background-image:none;
    padding:0 8px;
}
.leaflet-control-layers-expanded {
    min-width:75px;
}
.leaflet-levels {
    font-size:14px;
    line-height:18px;
}


#mapeditcontrols {
    position: absolute;
    top: 54px;
    bottom: 0;
    width: 350px;
    right: 0;
    overflow: auto;
    padding:8px;
    background-color:#ffffff;
}
#mapeditcontrols.loading {
    background-image:url('/static/img/loader.gif');
    background-repeat:no-repeat;
    background-position:center;
}
#mapeditcontrols form.creation-lock .btn.btn-primary {
    display:none;
}
#mapeditcontrols h3 {
    margin-top:5px;
}
a.list-group-item, a.list-group-item:hover {
    color:#158cba;
}
a.list-group-item .badge {
    font-size:14px;
    font-weight:bold;
}
.itemtable td:last-child {
    text-align:right;
}
.itemtable tr.highlight td {
    background-color:#FFFFDD;
}
.cancel-btn {
    margin-right:8px;
}

#mapeditlist legend .btn {
    padding-left:5.5px;
    padding-right:5.5px;
}
legend {
    margin: 0;
}
#featuretype_dropdown_btn {
    cursor:pointer;
}
#start-drawing, #cancel-drawing {
    display:none;
    position: absolute;
    right: 8px;
    top: 8px;
}
.leaflet-editable-drawing .leaflet-overlay-pane .leaflet-interactive {
    cursor:crosshair;
}
#map .leaflet-overlay-pane .c3nav-highlight {
    pointer-events:none;
}

#responsive_switch {
    display:none !important;
}

@media (max-width: 767px) {
    #mapeditcontrols {
        transition: right 300ms;
        -webkit-transition: right 300ms;
        width:100vw;
    }
    body:not(.controls) #mapeditcontrols {
        pointer-events: none;
        right:-100vw;
    }
    #map {
        transition: left 300ms, right ;
        -webkit-transition: left 300ms;
        right: auto;
        width:100vw;
    }
    body.controls #map {
        left:-100vw;
    }

    .navbar-collapse.collapse {
      display: block;
    }
    .navbar-nav>li, .navbar-header {
      float: left;
    }
    .navbar-nav.navbar-right:last-child {
      margin-right: -15px;
    }
    .navbar-right {
      float: right;
    }

    #show_map {
        display:none;
    }
    body.controls #show_map {
        display:block;
    }
    body.controls #show_details {
        display:none;
    }
    .navbar-nav {
        margin:0;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #responsive_switch {
        display:block !important;
    }
}
