body {
    font-size:16px;
}
.btn-lg {
    font-size:18px;
}
#map {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:350px;
    z-index:1;
}
nav.navbar {
    margin:0;
}
#main {
    overflow:hidden;
    position:absolute;
    top:54px;
    left:0;
    width:100vw;
    bottom:0;
    padding:0;
    margin:0;
}
#sidebar {
    position: absolute;
    top:0;
    right: 0;
    width: 350px;
    height: 100%;
    overflow: auto;
    z-index:2;
    background-color: #ffffff;
    transition: width 300ms;
    -webkit-transition: width 300ms;
}
#sidebar.loading {
    background: #ffffff url('/static/img/loader.gif') no-repeat center;
}
body:not(.map-enabled) #sidebar {
    width:100%;
}
#sidebar .content {
    width:100%;
    max-width:350px;
    padding:10px 15px;
    margin:auto;
}
#noscript {
    font-weight:bold;
    color:red;
    padding-top:2px;
    text-align:right;
    font-size:14px;
    line-height:15px;
    height:50px;
}

/* sidebar contents */
#sidebar form.creation-lock .btn.btn-primary {
    display:none;
}
#sidebar h3 {
    margin-top:5px;
}
a.list-group-item, a.list-group-item:hover {
    color:#158cba;
}
a.list-group-item .badge {
    font-size:14px;
    font-weight:bold;
}
.itemtable td:first-child {
    padding-left:0;
}
.itemtable td:last-child {
    padding-right:0;
    text-align:right;
}
.itemtable tr.highlight td {
    background-color:#FFFFDD;
}
.cancel-btn {
    margin-right:8px;
}
#mapeditlist legend .btn {
    padding-left:6px;
    padding-right:6px;
}
legend {
    margin: 0;
}
#featuretype_dropdown_btn {
    cursor:pointer;
}
#start-drawing, #cancel-drawing {
    display:none;
    position: absolute;
    right: 8px;
    top: 8px;
}
[data-sections], [data-subsections] {
    display:none;
}
form button.invisiblesubmit {
    overflow: visible;
    height: 0;
    width: 0;
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
}

/* Styles inside leaflet */
.leaflet-container {
    background:#000000;
}
.leaflet-control-layers-overlays label {
    margin-bottom:0;
}
.leaflet-control-layers-overlays input[type="checkbox"] {
    margin: 2px 0 0;
    top:2px;
}
.leaflet-container .leaflet-control-layers-expanded {
    min-width:75px;
}
.leaflet-overlay-pane .leaflet-interactive {
    cursor:inherit;
}
.leaflet-editable-drawing .leaflet-overlay-pane .leaflet-interactive {
    cursor:crosshair;
}
#map .leaflet-overlay-pane .c3nav-highlight {
    cursor:pointer;
}
.leaflet-overlay-pane .leaflet-image-layer {
    z-index:201;
}

/* responsiveness */
#responsive_switch {
    display:none !important;
}
@media (max-width: 767px) {
    #sidebar {
        transition: right 300ms;
        -webkit-transition: right 300ms;
        width:100vw;
    }
    #sidebar .content {
        max-width:500px;
    }
    body.show-map #sidebar {
        pointer-events: none;
        right:-100vw;
    }
    #map {
        transition: left 300ms;
        -webkit-transition: left 300ms;
        width:100vw;
    }
    body:not(.show-map) #map {
        left:-100vw;
    }

    .navbar-collapse.collapse {
      display: block;
    }
    .navbar-nav>li, .navbar-header {
      float: left;
    }
    .navbar-nav.navbar-right:last-child {
      margin-right: -15px;
    }
    .navbar-right {
      float: right;
    }

    #show_details {
        display:none;
    }
    body.show-map #show_details {
        display:block;
    }
    body.show-map #show_map {
        display:none;
    }
    .navbar-nav {
        margin:0;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    body.map-enabled #responsive_switch {
        display:block !important;
    }
}


/* leaftlet sections control */
.leaflet-control-sections {
    overflow:hidden;
}
.leaflet-control-subsections {
    position:absolute;
}
.leaflet-control-sections a, .leaflet-control-sections a:hover {
    width: auto;
    font-size: 14px;
    padding: 0 7px;
    white-space: nowrap;
}
.leaflet-touch .leaflet-control-sections a, .leaflet-touch .leaflet-control-sections a:hover {
    width: auto;
    height:36px;
    line-height:37px;
    font-size: 14px;
    padding: 0 12px;
}
.leaflet-control-sections a, .leaflet-control-sections a:hover {
    opacity:0;
    margin-top:-26px;
}
.leaflet-touch .leaflet-control-sections a, .leaflet-touch .leaflet-control-sections a:hover {
    margin-top:-36px;
}
.leaflet-control-sections a.current, .leaflet-control-sections-expanded a, .leaflet-control-sections-expanded a:hover,
.leaflet-touch .leaflet-control-sections a.current, .leaflet-touch .leaflet-control-sections-expanded a,
.leaflet-touch .leaflet-control-sections-expanded a:hover {
    opacity:1;
    margin-top:0;
}
.leaflet-control-sections:not(.leaflet-control-sections-expanded) a.current {
    border-radius:4px;
    border-width:0;
}
.leaflet-control-sections a.current {
    font-weight:bold;
}
.leaflet-control-sections .leaflet-disabled.current {
    color:#000000;
    background-color:#ffffff;
}
