body {
    font-size:16px;
}
.btn-lg {
    font-size:18px;
}
#map {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:370px;
    z-index:1;
}
nav.navbar {
    margin:0;
}
nav.navbar .container {
    position:relative;
}
#main {
    overflow:hidden;
    position:absolute;
    top:54px;
    left:0;
    width:100vw;
    bottom:0;
    padding:0;
    margin:0;
}
#sidebar {
    position: absolute;
    top:0;
    right: 0;
    width: 370px;
    height: 100%;
    overflow: auto;
    z-index:2;
    background-color: #ffffff;
    transition: width 300ms;
    -webkit-transition: width 300ms;
}
#sidebar.loading {
    background: #ffffff url('/static/img/loader.gif') no-repeat center;
}
body:not(.map-enabled) #sidebar {
    width:100%;
}
#sidebar .content {
    width:100%;
    max-width:370px;
    padding:12px 12px 0;
    margin:auto;
}
#sidebar .content form .form-group:last-child {
    margin-bottom:0;
    padding:0 0 12px;
    position:sticky;
    bottom:0;
    background-color: #ffffff;
    box-shadow: 0 0 10px 10px #ffffff;
}
#noscript {
    font-weight:bold;
    color:red;
    position:absolute;
    font-size:14px;
    left:15px;
    top:30px;
}
nav.navbar .navbar-nav > li > a {
    color:#666666;
}

/* sidebar contents */
#sidebar form.creation-lock .btn.btn-primary {
    display:none;
}
#sidebar h3 {
    margin-top:3px;
}
#sidebar .content p:empty {
    margin-bottom:0;
}
a.list-group-item, a.list-group-item:hover {
    color:#158cba;
}
a.list-group-item .badge {
    font-size:14px;
    font-weight:bold;
}
.itemtable td:first-child {
    padding-left:0;
}
.itemtable td:last-child {
    padding-right:0;
    text-align:right;
}
.itemtable tr.highlight td {
    background-color:#FFFFDD;
}
.cancel-btn {
    margin-right:8px;
}
#mapeditlist legend .btn {
    padding-left:6px;
    padding-right:6px;
}
legend {
    margin: 0;
}
#featuretype_dropdown_btn {
    cursor:pointer;
}
#start-drawing, #cancel-drawing {
    display:none;
    position: absolute;
    right: 8px;
    top: 8px;
}
[data-levels], [data-sublevels], #sidebar .nav, [data-modal-close] {
    display:none;
}
[data-modal-close] {
    font-size: 20px;
    line-height: 18px;
    padding: 5px 8px 4px;
}
form button.invisiblesubmit {
    overflow: visible;
    height: 0;
    width: 0;
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
}
#sidebar .content table.table.table-h-bordered td, #sidebar .content table.table.table-h-bordered th {
    border-color:#eeeeee;
}
.change-group tbody tr:last-child td {
    border-bottom:1px;
    border-bottom-style:solid;
}
.change-group tr th small {
    font-weight:normal;
}
.change-group > thead > tr > th {
    padding-left:0;
    padding-right:0;
}
.change-group tr th .btn.pull-right {
    margin-top: -2px;
    margin-bottom: -3px;
}
.change-group tr td:first-child {
    width:23px;
    padding-right:0;
}
.change-group tr td:last-child {
    white-space:nowrap;
    text-align:right;
}
.change-group tr td .glyphicon {
    top:2px;
}
.change-group tr td .tooltip {
    font-size:14px;
    margin-top: -1px;
}
.change-group tr td:last-child .btn {
    margin-top: -6px;
    margin-bottom: -2px;
    margin-right: -5px;
}
.change-group tr td:last-child>i {
    margin-right: -2px;
}

/* Styles inside leaflet */
.leaflet-container {
    background:#000000;
}
.leaflet-control-layers-overlays label {
    margin-bottom:0;
}
.leaflet-control-layers-overlays input[type="checkbox"] {
    margin: 2px 0 0;
    top:2px;
}
.leaflet-container .leaflet-control-layers-expanded {
    min-width:75px;
}
.leaflet-overlay-pane .leaflet-interactive {
    cursor:inherit;
}
.leaflet-editable-drawing .leaflet-overlay-pane .leaflet-interactive {
    cursor:crosshair;
}
#map .leaflet-overlay-pane .c3nav-highlight {
    cursor:pointer;
}
.leaflet-overlay-pane .leaflet-image-layer {
    z-index:201;
}

/* responsiveness */
#responsive_switch {
    display:none;
    width:100vw;
    position:absolute;
    top:54px;
    left:0;
    right:0;
    padding:4px;
    background-color:#f8f8f8;
    border-width:0 0 3px;
    border-color:#e7e7e7;
    border-style:solid;
    height:34px;
    text-align:center;
}
@media (max-width: 767px) {
    #sidebar {
        transition: right 300ms;
        -webkit-transition: right 300ms;
        width:100vw;
    }
    #sidebar .content {
        max-width:500px;
    }
    body.show-map #sidebar {
        pointer-events: none;
        right:-100vw;
    }
    #map {
        transition: left 300ms;
        -webkit-transition: left 300ms;
        width:100vw;
    }
    body:not(.show-map) #map {
        left:-100vw;
    }

    #show_details {
        display:none;
    }
    body.show-map #show_details {
        display:block;
    }
    body.show-map #show_map {
        display:none;
    }
    .navbar-nav {
        margin:0;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    body.map-enabled #responsive_switch {
        display:block;
    }
    body.map-enabled #main {
        top:88px;
    }
}


/* leaftlet levels control */
.leaflet-control-levels {
    overflow:hidden;
}
.leaflet-control-sublevels {
    position:absolute;
}
.leaflet-control-levels a, .leaflet-control-levels a:hover {
    width: auto;
    font-size: 14px;
    padding: 0 7px;
    white-space: nowrap;
}
.leaflet-touch .leaflet-control-levels a, .leaflet-touch .leaflet-control-levels a:hover {
    width: auto;
    height:36px;
    line-height:37px;
    font-size: 14px;
    padding: 0 12px;
}
.leaflet-control-levels a, .leaflet-control-levels a:hover {
    opacity:0;
    margin-top:-26px;
}
.leaflet-touch .leaflet-control-levels a, .leaflet-touch .leaflet-control-levels a:hover {
    margin-top:-36px;
}
.leaflet-control-levels a.current, .leaflet-control-levels-expanded a, .leaflet-control-levels-expanded a:hover,
.leaflet-touch .leaflet-control-levels a.current, .leaflet-touch .leaflet-control-levels-expanded a,
.leaflet-touch .leaflet-control-levels-expanded a:hover {
    opacity:1;
    margin-top:0;
}
.leaflet-control-levels:not(.leaflet-control-levels-expanded) a.current {
    border-radius:4px;
    border-width:0;
}
.leaflet-control-levels a.current {
    font-weight:bold;
}
.leaflet-control-levels .leaflet-disabled.current {
    color:#000000;
    background-color:#ffffff;
}
