body {
    margin-top: 58px;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 3rem;
    margin:0;
}

main.map {
    position:absolute;
    left:0;
    top:50px;
    right:0;
    bottom:0;
    background: url('../../img/loader.gif') no-repeat center;
}

section#map {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
}
