body, .btn {
    font-size:16px;
}


.locationselect .input-lg {
    height: 62px;
}
.locationselect > div {
    position:relative;
}
.locationselect .locationselect-selected {
    display:none;
}
.locationselect.selected .locationselect-selected {
    display:block;
}
.locationselect.selected .locationselect-input {
    display:none;
}
.locationselect .icons {
    height:48px;
    position:absolute;
    right:7px;
    top:7px;
    opacity:0.5;
}
.locationselect .icons a {
    display:inline-block;
    width:48px;
    height:48px;
}
.locationselect .icons .reset {
    background-image:url('../img/icons/cross.svg');
}


.location {
    font-size:18px;
}
.location small {
    font-size:14px;
    display:block;
}
.location.form-control {
    padding: 9px 16px;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* Typehead */
.twitter-typeahead {
    display:block !important;
}
.tt-input {
    margin-bottom: 0;
}
.tt-hint {
	color: #999;
}
.tt-menu {
    width:100%;
	min-width: 160px;
    margin-top:-1px;
	padding: 0;
    overflow:hidden;
    padding-bottom:4px;
}
.tt-dataset {
    background-color: #ffffff;
    border-width: 1px;
	border-style: solid;
    border-color: #cccccc #66afe9 #66afe9;
	border-radius: 0 0 4px 4px;
    margin:0 6px;
    -webkit-box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}
.tt-suggestion {
	padding: 6px 10px;
}
.tt-suggestion.tt-cursor {
	color: #fff;
	background-color: #428bca;
}
.tt-suggestion.tt-cursor a {
	color: #fff;
}
.tt-suggestion p {
	margin: 0;
}

svg {
    width:100%;
    height:auto;
    vertical-align:bottom;
    margin-bottom:10px;
}
line {
    stroke:#FF0000;
    stroke-width:2.5px;
}
marker path {
     fill: #FF0000;
     stroke: 0;
}
circle.pos {
    fill:#3399FF;
    stroke-width:10px;
    stroke:rgba(51, 153, 255, 0.2);
}

.routepart {
    margin-bottom:20px;
}

.desc {
    line-height:35px;
    position:relative;
    min-height:35px;
    margin-bottom:8px;
}
.desc .icon {
    display:inline-block;
    vertical-align:middle;
    width:35px;
    height:35px;
    text-align:center;

    background-image:url('../img/icons/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
}
.desc .icon.light_right {
    transform: rotate(45deg);
}
.desc .icon.light_left {
    transform: rotate(-45deg);
}
.desc .icon.right {
    transform: rotate(90deg);
}
.desc .icon.left {
    transform: rotate(-90deg);
}
.desc .icon.location {
    background-image:url('../img/icons/location.svg');
}
.desc .icon.stairs_up {
    background-image:url('../img/icons/stairs-up.svg');
}
.desc .icon.stairs_down {
    background-image:url('../img/icons/stairs-down.svg');
}
.desc .icon.escalator_up {
    background-image:url('../img/icons/escalator-up.svg');
}
.desc .icon.escalator_down {
    background-image:url('../img/icons/escalator-down.svg');
}
.desc .icon.elevator_up {
    background-image:url('../img/icons/elevator-up.svg');
}
.desc .icon.elevator_down {
    background-image:url('../img/icons/elevator-down.svg');
}
.desc .icon.destination {
    background-image:url('../img/icons/destination.svg');
}

.desc .icon img {
    max-width:35px;
}
.desc p {
    white-space:normal;
    display:inline-block;
    padding-left:8px;
    margin:0;
    box-sizing:border-box;
    width:auto;
    vertical-align:middle;
    line-height: 1.42857143;
}


.login .container {
    max-width:420px;
}
