{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>c3nav control panel</title>
    {% compress css %}
        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'access/css/c3nav-access.css' %}" rel="stylesheet">
    {% endcompress %}
  </head>

  <body class="{% block bodyclass %}{% endblock %}">

    <div class="container" id="main">
        <h1>c3nav access control</h1>
        {% block nav %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% include 'site/footer.html' %}
    </div>

    {% compress js %}
        <script type="text/javascript" src="{% static 'jquery/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    {% endcompress %}
  </body>
</html>
