{% load i18n %}

<form action="{{ token.activation_url }}" method="POST">
{% csrf_token %}
<div class="token">
    <p>
        <img src="{{ token.qr_url }}">
    </p>
    <p><a href="{{ token.activation_url }}">{% trans 'Link to this token / in this QR code' %}</a></p>
    <p>
        <button type="submit" class="btn btn-default btn-block">{% trans 'Activate token on this device' %}</button>
    </p>
    <p>
        {% blocktrans %}This link QR Code / Link only works once. If you want access on multiple devices, you need multiple tokens.{% endblocktrans %}
    </p>
</div>
</form>
