body, .btn {
    font-size:16px;
}

h1 {
    margin-bottom:20px;
}

.login .container {
    max-width:420px;
}


footer {
    text-align:center;
}
.languages {
    margin-bottom:0;
    height:2px;
}
.languages button {
    text-transform:none;
    font-weight:normal;
    margin-top:0 !important;
    border-width:0 !important;
    padding:0;
}
